[Desktop Entry]
Name=OpenFool
Comment=OpenFool card game
Exec=OpenFool
Terminal=false
Type=Application
Categories=Game;BoardGame;
StartupNotify=false
Icon=openfool
